@yellow: #FFEDCC;
@face_size: 50px;

.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

// Base CSS

article {
  
  .title {

  }

  .text {
    line-height: 150%;
  }

  .text p {
    padding-right: 10px;
  }
}

// Reading position

.positions {

  position: absolute;
  top: 0px;
  left: 10px;

  .head {
    position: absolute;

    img {
      width: @face_size;
      height: @face_size;
      .rounded-corners(@face_size);
    }
  }
}

// Highlight

[highlights] {
  border-right: 10px solid @yellow;

  .head {

    position: absolute;
    right: -@face_size + 10px;

    img {
      width: @face_size;
      height: @face_size;
      .rounded-corners(@face_size);
    }

  } 
}

[chunk-index] {
  position: relative;

  &:hover {
    background-color: fadeout(@yellow,50%);
  }
}

// Skim

article.skim {
  
  p:not([highlights]) {
    color: gray;
    font-size: 10pt;
    line-height: 10pt;
    display: inline;
  }



}
